#ignore password credentials page
sql-challenge\main\db_connection.py

#ignore checkpoints
sql-challenge\main\.ipynb_checkpoints
main/.ipynb_checkpoints/main-checkpoint.ipynb

#pycache
sql-challenge\main\__pycache__